<div class="container mt-5 mb-5">
    <div class="row">
        <div
            class="col-lg-4 col-md-6 col-sm-12"
            *ngFor="let component of components"
        >
            <div
                class="card my-2"
                [routerLink]="component.route"
            >
                <div class="card__image-container">
                    <img
                        class="card__image"
                        [src]="component.image"
                        [alt]="component.title"
                    >
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#fff"/>
                    <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                </svg>

                <div class="card__content">
                    <h1 class="card__title">{{ component.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
