<test-nav-bar title="Icon"></test-nav-bar>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 border-end py-4 full-height">
            <tests-component-specifications
                [componentInformation]="componentInformation"
                [interfacesInformation]="interfacesInformation"
            ></tests-component-specifications>
        </div>

        <div class="col-6 scrollbar overflow-x-hidden pb-3 full-height">
            <div class="row">
                <div class="col-4 my-1" *ngFor="let icon of fontAwesomeIcons">
                    <div class="card">
                        <fundae-icon
                            class="cards-icons rounded-circle"
                            [icon]="icon"
                        ></fundae-icon>

                        <div class="card-body mt-5 text-center">
                            <p><strong>Icon name:</strong> <br> {{ icon.name }}</p>
                            <p><strong>Icon type:</strong> {{ icon.type }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 border-start py-4 full-height">
            <h4>Usage Example</h4>

            <ul class="list-group my-3">
                <li class="list-group-item">
                    <p><strong>Component:</strong></p>

                    <div class="text-center">
                        <fundae-icon
                            [icon]="icon"
                        ></fundae-icon>
                    </div>

                    <pre class="scrollbar">{{ componentUsageExample }}</pre>
                </li>
            </ul>

            <hr>

            <ul class="list-group my-3">
                <li class="list-group-item">
                    <p><strong>Icon variable:</strong></p>

                    <pre class="scrollbar">{{ icon | json }}</pre>
                </li>
            </ul>
        </div>
    </div>
</div>
