.card {
    margin-top: 2rem;

    fundae-icon {
        align-content: center;
        color: #FFFFFF;
        height: 50px;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 0;
        transform: translate(-50%, -50%);
        width: 50px;
    }
}
