.card {
    border-radius: 6px;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    margin-top: 2rem;

    .cards-icons {
        background: -webkit-linear-gradient(#662D8C, #ED1E79);
        padding-top: -10%;
        -webkit-text-fill-color: transparent;
    }

    fundae-icon {
        align-content: center;
        color: #FFFFFF;
        height: 50px;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 0;
        transform: translate(-50%, -50%);
        width: 50px;
    }
}

