<button
    class="btn {{ buttonType }}"
    [ngClass]="classesToApply"
    [disabled]="isDisabled || loading"
    [type]="type"
    (click)="buttonClicked()"
>
    <div class="inside-info">
        <div
            *ngIf="loading"
            class="icon"
            [ngClass]="[rounded || !name ? '' : 'margin-icon']"
        >
            <fundae-icon
                [icon]="loadingIcon"
            ></fundae-icon>
        </div>

        <div
            *ngIf="icon"
            class="icon"
            [ngClass]="[rounded || !name ? '' : 'margin-icon']"
        >
            <fundae-icon [icon]="icon"></fundae-icon>
        </div>

        <span *ngIf="name">{{ loading ? (loadingText || name) : name }}</span>

        <ng-content *ngIf="!name"></ng-content>
    </div>
</button>
