@import '../../styles/variables.scss';

.is-required {
    .form-label::after {
        content: ' *';
        color: $required-control;
    }

    .messages {
        padding-top: 2px;

        .text-length {
            text-align: right;
            font-size: 10px;
            color: $border-bottom-color;

            &.has-errors {
                color: $color-danger
            }
        }
    }
}
